<h1>{{ point.address }}</h1>
<ul>
    <li>
        <strong>Location:</strong> {{ point.location }}
    </li>
    <li>
        <strong>Address:</strong> {{ point.address }}
    </li>
    <li>
        <strong>User:</strong> {{ point.user }}
    </li>
    <li>
        <strong>Latitude:</strong> {{ point.latitude }}
    </li>
    <li>
        <strong>Longitude:</strong> {{ point.longitude }}
    </li>
    <li>
        <strong>Visible:</strong> {{ point.visible }}
    </li>
    <li>
        <strong>Date:</strong> {{ point.date }}
    </li>
</ul>